@model List<GroupInfo>

<h2> Below are the scheduled appointments. </h2>

<table class="table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Time</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.groupName</td>
                <td>@x.groupSize</td>
                <td>@x.email</td>
                <td>@x.phone</td>
                <td>@x.timeslot</td>
                <td><a asp-controller="Home" asp-action="Edit" asp-route-groupid="@x.GroupID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-groupid="@x.GroupID">Delete</a></td>
            </tr>
        }

    </tbody>

</table>